Package: com.0xkuj.iparanger
Name: IPA Ranger
Version: 1.4
Architecture: iphoneos-arm
Description: GUI Based Application for ipatool
Depends: ai.akemi.appsyncunified, gawk, unzip
Maintainer: 0xkuj
Author: 0xkuj
Section: Applications